<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="iNet_Monitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="GraphX.PCL.Logic" publicKeyToken="3b65ef85075e278f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.3.3.0" newVersion="2.3.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <iNet_Monitor.Properties.Settings>
      <setting name="IsFirstTimeMinimize" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CheckForUpdates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowPopups" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WarnSlow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PingInterval" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="SlowThreshold" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="PingIP" serializeAs="String">
        <value>8.8.8.8</value>
      </setting>
      <setting name="StartMinimized" serializeAs="String">
        <value>False</value>
      </setting>
    </iNet_Monitor.Properties.Settings>
  </userSettings>
</configuration>
