@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>

<h4>About iNet Monitor</h4>
<p>I made iNet monitor as a way of tracking my internet on my PC to see if it was working or not.</p>
<p>Then later i decided to make it into a full web service for other people to make use of it, in the hopes that someone will find it useful :-)</p>