@{
    ViewBag.Title = "Contact";
}

<h4>Contact iNet Monitor</h4>

<p>If you have any question regarding our services, please contact us below :-).</p>

<address>
    <strong>Support:</strong>   <a href="mailto:it.niels@gmail.com">E-Mail</a><br />
</address>